{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="media">
        <img style="width: 250px; height: 400px;" class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison : {{season.number}} - Episode {{ episode.number }} : {{ episode.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>{{ episode.synopsis }}</p>
        </div>
    </div>
    <p>
        <h2>Commentaires :</h2>
        {% for comment in episode.comments %}
            <div>
                <p>{{ comment.comment }}</p>
                <p>{{ comment.rate }}</p>
                <p>{{ comment.author.email }}</p>
            </div>
        {% else %}
            <p>Aucun commentaire sur cet épisode !</p>
        {% endfor %}
        {% if app.user %}
            <p><strong>Ajouter un commentaire</strong> :</p>
            {{ include('comment/_form.html.twig') }}
        {% else %}
            <hp><a class="nav-link" href="{{ path('login') }}">Laisser un commentaire</a></hp>
        {% endif %}
    </div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}