{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.id }}{% endblock %}

{% block body %}
    <div class="media">
        <img style="width: 250px; height: 400px;" class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison: {{season.number}} - Episode {{ episode.id }} : {{ episode.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p>{{episode.synopsis}}</p>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}