{% extends "base.html.twig" %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="media">
        <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
        <img style="width: 250px; height: 400px;" class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <p>La saison {{ season.number }} a été diffusé en {{ season.year }} et comporte {{season.episode|length}} épisodes</p>
        </div>
        <ul>
            <h2>Liste des épisodes :</h2>
            {% for episode in season.episode %}
            <li>
                <a href="{{ path('program_episode_show', {program_slug: program.slug, seasonId: season.id, episode_slug: episode.slug}) }}">
                Episode {{ episode.number }} : {{episode.title}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}