{% extends "base.html.twig" %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
   {% for season in seasons %}
      <div class="media">
         <div class="head_season">
            <h1>{{ program.title }}</h1>
            <h2>{{ season.description }}</h2>
         </div>
         <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
         <p>{{ program.synopsis }}</p>
         <p>Sortie en {{ season.year }}</p><br>
         <a href="{{ path('program_season_show', {programId: program.id, seasonId: season.id}) }}">
            Plus d'infos
         </a>
      </div>
   {% else %}
      Aucune série trouvée.
   {% endfor %}

   <a href="{{ path('program_index') }}">
      Retour à la liste des programmes
   </a><br>
{% endblock %}